
*.log
*xlclaire-*
/doc
*.cache
*.o
public*
tmp*
include/Core.h
include/Generate.h
include/Language.h
include/Optimize.h
include/Reader.h
include/Serialize.h
csrc1/Serialize.cpp
csrc1/Reader.cpp
csrc1/Optimize.cpp
csrc1/Language.cpp
csrc1/Generate.cpp
csrc1/Core.cpp
csrc1/claire-s.cpp
csrc/Serialize.cpp
csrc/Reader.cpp
csrc/Optimize.cpp
csrc/Language.cpp
csrc/Generate.cpp
csrc/Core.cpp
csrc/claire-s.cpp
console/clConsole.o
configure
.claire_tmpclaire1
.claire_tmpclaire2
.DS_Store
config.status
*.o
*.tgz
include/config.h.in~
include/config.h
stable2/config.log
stable2/Darwin*
stable2/Linux*
/Makefile
stable2/Makefile
stable2/csrc/Optimize.cpp
stable2/csrc/Generate.cpp
test.c
testalign.c
*Darwin*
include/config.h
include/config.h.in~
stable2/claire
unix_step2.cl
